@font-face {
	font-family: 'Analogue';
	src: url('/fonts/Analogue.otf');
	font-style: normal;
}

@font-face {
	font-family: 'Analogue Italic';
	src: url('/fonts/Analogue-Italic.otf');
	font-style: italic, oblique;
}

body {
	height: 100vh;

	margin: 0;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	background-color: #efe4dc;
}

@media only screen and (max-height: 800px) {
	body {
		display: block;
	}
}