@font-face {
	font-family: 'Analogue';
	src: url('/fonts/Analogue.otf');
	font-style: normal;
}

@font-face {
	font-family: 'Analogue Italic';
	src: url('/fonts/Analogue-Italic.otf');
	font-style: italic, oblique;
}

body {
	margin: 0;
	background-color: #efe6df;
}